.header {
  background-image: url("../assets/backgrounds/landing.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size:  100%;
  color: white;
}

#breakfast{
  background-image: url("../assets/foodtop/breakfast.jpg");
  background-size: 100%;
  padding: 50px;
  color: white;
}
#lunch{
  background-image: url('../assets/foodtop/lunch.jpg');
  background-size: 100%;
  padding: 25px;
  color: white;
}
#dinner{
  background-image: url('../assets/foodtop/dinner.jpg');
  background-image: url('../assets/foodtop/dinner2.jpg');
  background-size: 100%;
  padding: 25px;
  color: white;
}
.section4{
  background-image: url("../assets/backgrounds/foodsBg.jpg");
}
